<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>dragon_4_doc.icns</string>
			<key>CFBundleTypeName</key>
			<string>Dragon Age AddIn</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.morth.per.dazip</string>
				<string>public.folder</string>
				<string>com.pkware.zip-archive</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>Dazip</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>DazipStore</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>dragon_4_doc.icns</string>
			<key>CFBundleTypeName</key>
			<string>Dragon Age Override</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.morth.per.daoverride</string>
				<string>public.folder</string>
				<string>com.pkware.zip-archive</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>Dazip</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>OverrideStore</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>dragon_4.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.morth.per.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${VERSION}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${BUNDLE_VERSION}</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.role-playing-games</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pkware.zip-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Dragon Age AddIn</string>
			<key>UTTypeIconFile</key>
			<string>dragon_4_doc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.morth.per.dazip</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dazip</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.pkware.zip-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Dragon Age Override</string>
			<key>UTTypeIconFile</key>
			<string>dragon_4_doc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>org.morth.per.daoverride</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>override</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
